@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-base-white: #ffffff;
    --color-base-gray-100: #f5f5f5;
    --color-base-gray-300: #8d8d99;    
    --color-base-gray-500: #3d3d3d;    
    --color-base-gray-900: #202024;   
    
}

html, body, input {
    font-family: 'Mulish', sans-serif;;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100% );
    margin: 0 auto;
}

main {
    overflow: scroll;
    background-color: var(--color-base-gray-100);
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
    
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.input-group input {
    width: 100%;
    margin-top: 3px;
    padding: 1.6rem;
    background-color: var(--color-base-gray-100);
    border: none;
    border-radius: 0.6rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.input-group input::placeholder {
    opacity: 0.56rem;
    color: var(--color-base-gray-300);
}

footer p {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}

/* galeria*/

main h1 {
    font-size: 2.4rem;
    padding-top: 1.6rem;
}

.gallery {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
}

.item {
    background-color: var(--color-base-white);
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 0.2s ease-in;
}

.item img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg); 
}

.details {
    padding: 2.2rem;
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative ;
}

.details h2 {
    font-size: 1.8rem;
}

.tags span {
    padding: 0.6rem;
    background-color: var(--color-base-gray-100);
    border-radius: 0.4rem;
    line-height: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.tags {
    margin-top: 1.2rem;
}

header {
    --startY: -100%;
    animation: move 0.5s;
}

footer {
    --startY: 100%;
    animation: move 0.5s;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

.item {
    --delay: 0.4s;
    animation: appear 0.4s var(--delay) backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}

.input-group {
    position: relative;
    margin: 50px;
}

.input-group__input {
    color: #0a0a0a;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid#ffff;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-group__input:is(:focus, :valid) {
    outline-color: #080b1d;
}

.input-group__label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #0f0f0f;
    transition: translate 500ms, scale 500ms;
}

.input-group__input:focus +
.input-group__label,
.input-group__input:valid + 
.input-group__label {
    padding-inline: 5px;
    translate: 10px -15px;
    scale: 0.8;
   
}